header {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

header h1 {
    font-weight: bold;
    color: #e6e6e6;
}

main {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
main article {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #cccccc;
    border-radius: 20px;
}

nav a{
    color: #e6e6e6;
    font-weight: bold;
}